.ProductAddedModalContainer {
    width: 20%;
    height: 7rem;
    background-color: var(--third-color);
    position: fixed;
    left: 40%;
    top: 30%;
    z-index: 100;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: showModal 200ms ease-in-out;
    border-radius: 50rem;
}


@keyframes showModal {

    from {
        opacity: 0;
        transform: translateY(-20rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}