.userPage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userPage__container__infos {
    text-align: center;
    width: 80%;
}
.userPage__container__actions {
    margin-top: 3rem;
    gap:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.userPage__container__actions--button{
    border: 2px solid var(--third-color);
    border-radius: 20%;
    padding: 0.4rem 0.5rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    min-width: 7rem;
    font-size: 0.6rem;
    text-align: center;
}
.userPage__container__actions--button:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    transform: translateY(-5px);
}
.userPage__container__testAccountInfo{
    text-indent: 5px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}
.testAccountError {
    font-size: 0.8rem;
    width: 80%;
    text-align: center;
    background-color: rgba(260,200,111,0.5);
    padding: 5px 10px;
    border-radius: 20px;
    animation: brightElementUp 200ms ease-in;

}

@media only screen and (max-width: 576px){
    .userPage__container__actions--button{
        padding: 0.5rem 1rem;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
        width: 50%;
        border:none;
    }
    .userPage__container__actions{
        width: 100%;
    }

}