.register__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.register__container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.register__container input {
    border-radius: 10px;
}