.randomFoodElement__container {
    background-color: rgba(190,190,190,0.4);
    box-shadow: 5px 5px 5px rgba(190,190,190,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    transition: all 100ms ease-in;
    padding-left:1rem ;
}
.randomFoodElement__container:hover {
    box-shadow: 15px 15px 15px rgba(190,190,190,1);

}
.randomFoodElement__container__title {
    margin: 1rem;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px darkslateblue;
    font-family: Cambria ;
}

.btn-readMore {
    font-size: 0.6rem
}
.btn-readMore:hover {
    font-size: 0.7rem;
    color:#ffffff;
    border:1px solid rgba(0,0,0,0.5)
}
.randomFoodElement__container__description__shortDescription {
    margin:0;
    text-indent: 1rem;
    line-height: 1rem;

}
@media only screen and (min-width: 767px){
    .randomFoodElement__container__description__shortDescription {
        letter-spacing: 1px;
        line-height: 3rem;
    }
}