.userHistory__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Alegreya;
    background-color: rgba(124, 156, 243,0.1);
    margin-top:3rem;
    padding-bottom: 5rem;

}
.userHistory__container__top {
    width: 100%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2rem;
    font-family: Roboto Condensed;
    border-bottom: 1px solid black;

}

.userHistory__container__bottom__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1.4rem;
    justify-items: center;
    align-items: flex-end;
}

.userHistory__container__stats div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userHistory__container__stats span {
    font-weight: bolder;
}
.userHistory__container__bottom__orderList {
    padding:1rem;
    list-style: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background: rgb(119,214,235);
    background: linear-gradient(0deg, rgba(119,214,235,0) 70%, rgba(119,194,250,1) 100%);    margin:0.6rem;
    min-width: 10rem;
    height: fit-content;
    border-left:1px solid black;
    border-top:1px solid black;
    border-radius: 1rem 0.3rem;
}
.userHistory__container__bottom__orderList--summary{
    border-top: 2px dotted black;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
.userHistory__container__lastOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.userHistory__container__lastOrder span {
    font-weight: bolder;
}
.userHistory__container__bottom__orderList--price {
    font-family: "Roboto Thin";
    font-weight: bolder;
    text-align: center;
}
.userHistory__container__bottom__orderList--date {
display: flex;
    justify-content: center;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.4);
    color:#ffffff;
    border-bottom: 1px dotted black;
}
#howManyShow{
    margin:0.5rem 1rem;
}

@media only screen and (max-width: 576px){
    .userHistory__container__bottom {
        flex-direction: column;
        align-items: center;
    }
    .userHistory__container__top {
        padding: 0;
        font-size: 0.8rem;
    }
    .userHistory__container__bottom__orderList {
        height: auto;
    }
}