.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.login__container form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.login__container input {
    border-radius: 10px;
    text-align: center;

}
.login__container__title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 576px){
    .login__container form {
        width: 75%;
    }
    input {
        width: 50%;
        height: 1.5rem;
    }
}