.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.login__container input {
    border-radius: 10px;
}