.nav__container {
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bgcolor);
    z-index: 1000;
}
a {
    text-decoration: none;
    color: var(--second-color);
    display: block;
}
a:hover {
    color:#ffffff;
}


.nav__container__menu__list {
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    transition: all 500ms ease-in;

}

.nav__container__menu__list__li__shopCard {
    display: flex;
    flex-direction: row;
}
.nav__container__menu__list__numbersOfProducts {
    display: block;
}
.nav__container__menu__list__li {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
}
.nav__container__menu__list__li:hover {
    background-color: var(--third-color);
    color:white;
    border-radius: 10px;
}
.toggle--button {
    position: absolute;
    top:10px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    background-color: var(--second-bgcolor);
    height: 21px;
    border:none;
}
.toggle--button svg {
    color:black;
}
.toggle--button--bar {
    color: var(--first-color);
}
.nav__container__logo h1 {
    font-size: 2rem;
    font-family: Perpetua;
    text-shadow: 3px 3px 4px var(--second-color);
    color:white;

}
.itemAddedToCartAnimation {
    animation: itemAdded 500ms ease-in-out;
}
.nav__container__menu__list__li__text {
    font-size: 0.6rem;
    letter-spacing: 1px ;
}
@media only screen and (max-width: 576px){

    .nav__container {
        flex-direction: column;
        padding-bottom: 1.5rem;
        opacity: 0.9;
    }
    .nav__container:hover{
        opacity: 1;
    }
}
@keyframes showMenu {
    from {
        height: 0;
    }
    to {
        height: 5rem;
    }
}
@keyframes itemAdded {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.8);
    }
    30% {
        transform: scale(1.5);
        background-color: var(--second-bgcolor);
        color:var(--first-color);
    }
    50% {
        transform: scale(1.8);
    }
    100% {
        transform: scale(1);
    }
}

