.allFoodList__container {
    border-radius: 10px;
    background-color: var(--second-bgcolor);
}
.allFoodList__container__filterApplied{
    display: flex;
    justify-content: center;
    font-family: Cambria;
}
.food__searchButton {
    margin:0.3rem;
}
.food__searchButton--sale {
    background-color: rgba(190,190,190,0.6);
    margin:0.3rem;
}


