.allFoodList__container {
    border-radius: 10px;
    background-color: var(--second-bgcolor);
    animation: brightElementUp 500ms ease-in;
}
.allFoodList__container__filterApplied{
    display: flex;
    justify-content: center;
    font-family: Cambria;
}
.food__searchButton {
    margin:0.3rem;
}
.food__searchButton--sale {
    background: #77fcce;
    margin:0.3rem;
}


