.about__title {
    text-align: center;
    font-size: 1.5rem;
    padding-top:1rem;
    font-family: "Roboto Thin";
    border-bottom: 2px solid rgba(155,155,155,0.5);

}
.about__container__all {
    margin-top: 1rem;
    box-shadow: 0 1px 15px 3px blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 680px;

}
.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.about__container__footer {
    padding-bottom: 1rem;

}
.about__container__footer a:hover {
    transform: translate(-5px, -2px);
}
.about__container__footer > p {
    margin-bottom: 2rem;
    border-top:2px solid black;
}
.about__container__header > p {
    margin-top: 2rem;

}
.about__container__header {
    min-height: 80px;
}
.about__container__center {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.about__container__center__left {
    width: 50%;
}
.about__container__center__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-around;
}
.about__description {
    font-family: Arvo;
    text-indent: 5px;
}
.about__container__footer__data {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 576px){
    .about__container__center{
        flex-direction: column;
        align-items: center;

    }
    .about__container__center__right{
        font-size: 1rem;
        margin-top: 10px;
    }
    .about__container__footer__data {
        flex-direction: column;
    }
    .about__description {
        margin-bottom: 0;
    }
}
