

*,
*::before,
*::after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
:root {
    --first-bgcolor: rgb(250, 250, 250);
    --second-bgcolor: rgb(235, 237, 239 );
    --third-bgcolor: rgb(124, 156, 243);
    --first-color: rgb(165, 205, 189);
    --second-color: rgb(8,54,67);
    --third-color: rgb(110,141,238);
    --text-color1: #ffffff;
    --text-color2: #000000;



}
.secondColorStyle {
    --first-bgcolor: #27296d;
    --second-bgcolor: #5e63b6;
    --third-bgcolor: #a393eb;
    --first-color: #f5c7f7;
    --second-color: #ffffff;
    --third-color: #b7fbff;
    --text-color1: #000000;
    --text-color2: #ffffff;
    background-color: var(--second-bgcolor);
    color:white;

}

body {
    font-size: 14px;
    font-family: 'Arvo', 'Roboto Condensed', 'Alegreya', serif;
    height: 100vh;
    background-color: var(--second-bgcolor);

}
.mainSection__container {
    height: 100%;
    min-height: 100vh;
}
.main__loading {
    text-align: center;
}
.btn-primary {
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border:2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin:0.5rem;
    color:var(--second-color);
    font-weight: bolder;
    font-size: 0.7rem;
    transition: all 100ms ease-in;
}
.btn-primary:hover {
    cursor: pointer;
    opacity: 0.8;
    border:1px solid rgba(0,0,0,0.5);
    font-size: 0.8rem;
    background: rgb(114,144,242);
    background: linear-gradient(90deg, rgba(114,144,242,1) 0%, rgba(25,81,138,0) 70%);
}
.btn-primary:disabled {
    color:rgba(0,0,0,0.3);
    opacity: 0.6;
    cursor: not-allowed;
}
.btn-secondary {
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border:2px solid rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin:1rem;
    color:var(--second-color);
    font-weight: bolder;
    font-size: 0.7rem;
    transition: all 100ms ease-in;
}
.btn-secondary:hover {
    cursor: pointer;
    opacity: 0.7;
    border:1px solid rgba(0,0,0,0.5);
    box-shadow: 0 2px 2px black;
    transform: translateY(-2px);
}
.btn-secondary:focus {
    border:3px solid var(--first-color);
}
.active{
    animation:rotateElement 500ms ease-in ;
    transform: scale(1.25) translateY(-0.3em);
}
span[class$="--element"]{
    font-family: Alegreya;
    margin-right: 1rem;
}
span[class$="--error"]{
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 10px red;
    color:var(--second-color);
}
span[class$="--success"]{
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 10px green;
    color:var(--second-color);
}
span[class$="--specific"]{
    font-size: 1.2rem;
    text-shadow: 1px 1px 10px green;
}
span[class$="--information"]{
    text-align: center;
    width: 80%;
    font-size: 1.1rem;
}

button[class$="--confirmDELETE"]{
    background:var(--second-bgcolor);
    margin-bottom: 0;
}
button[class$="--confirmDELETE"]:hover{
    background:red;
    color:var(--text-color1);
}
button[class$="--confirmOK"]{
    background-color: var(--third-bgcolor);
    color:var(--text-color1);
}
button[class$="--confirmOK"]:hover {
    background: green;
    color:var(--text-color1);
}
@keyframes brightElementUp {
    from {
        opacity: 0;
    }
    to {
        opacity:1
    }
}
@keyframes rotateElement {
    0% {
        transform: skew(0) scale(1);
    }
    25% {
        transform: skew(10deg) scale(1.2);
    }
    50% {
        transform: skew(0) scale(1.2);
    }
    75%{
        transform: skew(-10deg) scale(1.2);

    }
}
@media only screen and (max-width: 576px){
    #root {
        font-size: 13px;

    }
    span[class$="--error"]{
        font-size: 1rem;
        text-shadow: 1px 1px 5px red;
        color:var(--second-color);
    }

}
@media only screen and (min-width: 576px){
    #root {
        font-size: 14px;
    }
}
@media only screen and (min-width: 767px){
    #root {
        font-size: 15px;
    }
}
@media only screen and (min-width: 992px){
    #root {
        font-size: 16px;
    }
}
@media only screen and (min-width: 1200px){
    #root {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1400px){
    #root {
    }
}