.ProductAddedModalContainer {
    width: 15rem;
    height: 7rem;
    background: rgb(232,236,237);
    background: linear-gradient(0deg, rgba(232,236,237,1) 0%, rgba(119,223,250,1) 100%);
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: showModal 300ms ease-in-out;
    border-radius: 20%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);

}


@keyframes showModal {

    from {
        opacity: 0;
        top:50%;
        left:50%;
        transform: translate(-20%, -50%);
    }
    to {
        opacity: 1;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }

}
@media only screen and (max-width: 576px){
    .ProductAddedModalContainer {
        width: 85%;
        font-size: 1rem;
    }
}