.ProductAddedModalContainer {
    width: 15rem;
    height: 7rem;
    background-color: var(--third-bgcolor);
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: showModal 300ms ease-in-out;
    border-radius: 50rem;
}


@keyframes showModal {

    from {
        opacity: 0;
        top:50%;
        left:50%;
        transform: translate(-20%, -50%);
    }
    to {
        opacity: 0.8;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }

}
@media only screen and (max-width: 576px){
    .ProductAddedModalContainer {
        width: 85%;
        font-size: 1rem;
    }
}